// ======================================
// Mixins
// ======================================

// Colors
@mixin btn-bg-colors($map) {
  @each $button-name, $color in $map {
    .#{$button-name} {
      background-color: $color;
    }
  }
}

@mixin theme-colors($map) {
  @each $column-name, $color in $map {
    .theme.#{$column-name} {
      background-color: $color;
    }
  }
}

// Center
@mixin center (
$disp: block,
$margin-t: null,
$margin-r: auto,
$margin-b: null,
$margin-l: auto,
$max-w: null,
$max-h: null,
){
  display: $disp;
  margin-top: $margin-t;
  margin-right: $margin-r;
  margin-bottom: $margin-b;
  margin-left: $margin-l;
  max-width: $max-w;
  max-height: $max-h;
  @content;
}


// Media Queries
@mixin mq($break) {
  @if $break == 'tab' {
    @media (min-width: $tablet) {
      @content;
    }
  }
}