// ======================================
// Variables
// ======================================

// Commonly used Colors
$lt-grey: #ccc;
$white: #fff;

// Main Colors

$color-primary: #58e1c1;
$color-secondary: #777; 
$color-complement: complement($color-primary);
$color-links: #51ddfc;
$color-button-text: #fff;

// Button Background Colors

$btn-bg-colors: (
'default': #51ddfc,
'success': #63cc82,
'error': #e4757a,
'warning': #fd7856,
'info': #927bc1,
);

// Theme Colors
$theme-colors: (
    'col-1': #927bc1,
    'col-2': #fd7856,
    'col-3': #deb2ee,
    'col-4': #7ee6fd,
    'col-5': #88d9a0,
    'col-6': #4da2bb,
    'col-7': #ec9fa3,
    'col-8': #fd9f85,
    'col-9': #e4757a,
    'col-10': #63cc82,
    'col-11': #51ddfc,
    'col-12': #80e8d1,
);

// Size Variables
$max-width: 1400px;


// Media Query Breakpoints
$mobile: 320px;
$tablet: 768px;
$web: 1024px;


$mquery-bp: (
    'mobile': 320px,
    'tablet': 768px,
       'web': 1024px,
);

// Font Variables

$font-stack-primary: 'Lato', sans-serif;


