// ======================================
// Variables
// ======================================

// Main Colors

$color-primary: #58e1c1;
$color-secondary: #777; 
$color-links: #51ddfc;
$color-button-text: #fff;

// Button Background Colors

$btn-bg-colors: (
'default': #58e1c1,
'success': #63cc82,
'error': #e4757a,
'warning': #fd7856,
'info': #927bc1,
);

// Size Variables




// Media Query Breakpoints

$breakpoints: (
    'mobile': 768px,
);



// ======================================
//  Loops
// ======================================


