// ======================================
// Buttons
// ======================================

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-button-text;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include mq('tablet') {
      padding: 10px 30px;
    & + & {
      margin-left: 10px;
      }
    }
  }

  @include btn-bg-colors($btn-bg-colors);
