// ======================================
// Buttons
// ======================================

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include btn-bg-colors($btn-bg-colors);
  }