// ======================================
// Grid
// ======================================

.container {
  padding: 0 10px;
  @media (min-width: 768px) {
    max-width: $max-width;
    @include center;
  }
}
  
.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
    & + & {
      margin-left: 10px;
    }
  }
}

.card {
  flex-basis: 100%;
}

@include theme-colors($theme-colors);
  
