// ======================================
// Grid
// ======================================

.container {
  padding: 0 10px;
  @include mq('tablet') {
    max-width: $max-width;
    @include center;
  }
}

.centered {  
  @include mq('tablet') {
    @include center;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @include mq('tablet') {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include mq('tablet') {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
    & + & {
      margin-left: 10px;
    }
  }
}

.card {
  flex-basis: 100%;
}


@include theme-colors($theme-colors);

@include mq('tablet') {
  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: nm-to-pc($i,12);
    }
  }
}

