// ======================================
// Images
// ======================================


.img-logo {
  @include center;
  @media (min-width: 768px) {
    margin-left: initial;
    margin-right: initial;
  }
}


.img-avatar {
  @include center ($img-margin: 10px auto null auto, $max-w: 100%, $max-h: 100%);
}
  
.img-frame {
  @include center ($img-margin: 10px auto null auto, $max-w: 100%){
    padding: 13px;
    border: 1px solid $lt-grey;
  }
}