// ======================================
// Images
// ======================================


.img-logo {
  @include center;
  @include mq('tablet') {
    margin-left: initial;
    margin-right: initial;
  }
}


.img-avatar {
  @include center($margin-t: 10px, $max-w: 100%, $max-h: 100%);
}
  
.img-frame {
  @include center($margin-t: 10px, $max-w: 100%){
    padding: 13px;
    border: 1px solid $lt-grey;
  }
}